<h1><%= @merchant.name %>'s Discounts</h1><br>

<% @merchant.bulk_discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <p>Percentage Discount: <%= number_to_percentage(discount.percentage, precision: 0) %></p>
    <p>Quantity Threshold: <%= discount.quantity %></p>
    <%= link_to 'Discount Page',  merchant_bulk_discount_path(@merchant, discount) %>
  </section>
<% end %><br>

<section class='holidays'>
  <h3>Upcoming Holidays:</h3>
  <ul>
    <% NagerDateService.next_three_holidays.each do |holiday| %>
      <li><%= holiday.name %>: <%= holiday.date %></li>
    <% end %>
  </ul>
</section>

<%= link_to 'New Discount', new_merchant_bulk_discount_path(@merchant) %>
